@page "/factures"

@using Facturation.Shared

@inject NavigationManager nav 
@inject HttpClient http
@inject FactureRef fRef

<h1>Factures</h1>

@if (allInvoices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Client</th>
                <th>Echeance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Facture fac in allInvoices)
            {
                <tr class='table-@ColorFromInvoiceState(Facture.CalculateRemainingDays(fac.dates_Ticket.deadline) , Facture.CalculateRemainingAmountDue(fac.amountDue_Ticket.toPay, fac.amountDue_Ticket.paid))'>
                    <td>@fac.reference</td>
                    <td>@fac.client</td>
                    <td>@fac.dates_Ticket.deadline.ToShortDateString() - @Facture.CalculateRemainingDaysAsString(fac.dates_Ticket.deadline)</td>
                    <td @onclick="(() => InspectFacture(fac.reference))"><button>Detail</button></td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-primary" @onclick="GoToRevenue">Chiffre d'Affaires</button>
}

@code {
    private IEnumerable<Facture> allInvoices = null;

    protected override async Task OnInitializedAsync()
    {
        allInvoices = await http.GetFromJsonAsync<IEnumerable<Facture>>("api/factures");
        Console.WriteLine(allInvoices.Count());
    }

    private void GoToRevenue()
    {
        nav.NavigateTo("/revenue");
    }

    private void InspectFacture(string reference)
    {
        fRef.FReference = reference;
        nav.NavigateTo("facture");
    }

    static string ColorFromInvoiceState(double remainingDays, float remainingAmount = 0)
    {
        if(remainingAmount > 0)
        {
            if (remainingDays < Facture.CLOSETODEADLINE)
            {
                return "danger";
            }
            else
            {
                return "default";
            }
        }
        else
        {
            return "success";
        }
    }
}
